[submodule "models/scldm"]
	path = models/scldm
	url = https://github.com/czi-ai/scLDM.git
[submodule "models/cellflow"]
	path = models/cellflow
	url = https://github.com/theislab/cellflow.git
[submodule "models/scgpt"]
	path = models/scgpt
	url = https://github.com/mattshu0410/scGPT.git
	ignore = dirty
[submodule "models/gears"]
	path = models/gears
	url = https://github.com/snap-stanford/GEARS.git
